@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  display: flex;
  justify-content:space-around;
  align-items: flex-start;
  margin-top: 20vh;
}

.county-style{
margin-left: 10vw;
}

.continent-style{
margin-right: 10vw;
}

.input-style{
  margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
  display:inline-block;
  text-align: center;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;


}
.details{
margin-left: 20px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}